/* ========== END SETTING ========== */
@media screen and (max-width: 990px) {
  /* ===== main ===== */
  .card_body_container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.75rem;
  }
}

@media screen and (max-width: 767px) {
  /* ===== main ===== */
  .card_body_container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
  }
}

@media screen and (max-width: 575px) {
  /* ===== main ===== */
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 1.125rem;
  }
  .dropdown_setting {
    right: 1rem;
  }
}
