/* ===== import google font ===== */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800&display=swap");

/* ===== variable ===== */
:root {
  /* font and typography */
  --font-epilogue: "Epilogue", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* color */
  --black: #000000;
  --chinese-black: #141318;
  --iris: #5553c0;
  --light-blue: #6662fd;
  --smoky-black: #0e0e10;
  --success: #57d5bf;
  --danger: #f65e49;
  --white: #ffffff;
}

/* ===== global ===== */
* {
  font-family: var(--font-epilogue);
  font-size: 0.95rem;
  font-weight: 400;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: #ffffffd6;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background-color: var(--smoky-black);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

hr {
  height: 1px;

  border: 0;
  background-color: #ffffff1a;
}

.btn {
  padding: 0.625rem 1rem;

  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
  text-decoration: none;

  border: none;
  border-radius: 0.375rem;
  outline: none;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* ===== nav ===== */
nav {
  position: sticky;
  z-index: 9999;
  top: 0;

  width: 100%;

  background-color: var(--light-blue);
}

.container_nav {
  display: flex;

  width: 100%;
  max-width: 86rem;
  margin: 0 auto;
  padding: 0.75rem 4.5rem;

  align-items: center;
  justify-content: space-between;
}

.nav_logo {
  display: flex;

  align-items: flex-end;
}

.nav_logo_title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;

  transition: all 0.2s ease-in-out;

  color: var(--white);
}

.nav_logo_title:hover {
  color: #ffffffcc;
}

.nav_menu {
  display: flex;

  align-items: center;
}

.nav_menu ul {
  display: flex;

  align-items: center;
}

.nav_menu_item {
  margin-right: 1.5rem;

  cursor: pointer;
}

.nav_menu_item svg {
  font-size: 1.125rem;
}

.nav_menu_item path {
  transition: all 0.2s ease-in-out;
}

.nav_menu_item:hover path {
  color: #ffffff99;
}

.field_search {
  position: relative;

  margin-right: 1.5rem;
}

.nav_search {
  width: 15rem;
  padding: 0.625rem 2.5rem 0.625rem 1rem;

  color: rgba(255, 255, 255, 0.9);
  border: 0.125rem solid transparent;
  border-radius: 9999px;
  outline: none;
  background-color: var(--iris);
}

.nav_search_button {
  position: absolute;
  top: 0.7rem;
  right: 1rem;

  padding: 0;

  border: none;
  outline: none;
  background-color: transparent;
}

.nav_search_button svg {
  font-size: 0.875rem;
}

.nav_profile {
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  border-radius: 9999px;
  background-color: var(--iris);
}

.nav_profile:hover {
  background-color: #4744c0;
}

.nav_profile_container {
  display: flex;

  padding: 0.5rem 0.875rem;

  align-items: center;
}

.nav_profile_img {
  display: flex;

  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.625rem;
  padding: 0.5rem;

  border-radius: 50%;
  background-color: #f4db89;

  align-items: center;
  justify-content: center;
}

.nav_profile_img p {
  font-weight: 700;
  line-height: 1;

  transform: translateY(1px);

  color: #00000099;
}

.nav_profile_name p {
  font-weight: 600;

  margin-right: 0.875rem;
}

.nav_profile_container svg {
  font-size: 1rem;

  margin-right: 0.5rem;

  transform: translateY(-2px);
}

.btn_dropdown_menu {
  display: none;

  margin-left: 0.5rem;
}

.btn_dropdown_menu svg {
  font-size: 1.5rem;

  padding: 0 1rem;
}

/* ===== header ===== */
header {
  width: 100%;

  background-color: #1d1e22;
}

.container_header {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 4.5rem;
}

.header_nav {
  display: flex;

  align-items: center;
}

.header_nav_item {
  display: flex;

  padding: 0 1.125rem;

  align-items: center;
}

.header_nav_item:first-child {
  padding-left: 0;
}

.header_nav_item:last-child {
  padding-right: 0;
}

.header_nav_item a {
  display: block;

  padding: 1.25rem 0 1rem;

  border-bottom: 0.25rem solid transparent;
}

.header_nav_item.active a {
  border-bottom: 2px solid var(--iris);
}

.header_nav_item a span {
  padding: 0.4rem 0.625rem;

  transition: all 0.2s ease-in-out;

  border-radius: 0.25rem;
}

.header_nav_item.active a span {
  color: var(--white);
}

.header_nav_item a span:hover {
  background-color: #ffffff1a;
}

/* ===== main ===== */
main {
  width: 100%;
  margin: 2.75rem 0;
}

.container {
  width: 100%;
  max-width: 86rem;
  margin: 0 auto;
  padding: 1rem 4.5rem;
}

section {
  width: 100%;
  margin-bottom: 2.5rem;
}

.title_section {
  font-size: 1.5rem;

  margin-bottom: 1.5rem;
}

.card_container {
  width: 100%;

  border-radius: 1rem;
  background-color: #1d1e22;
}

.title_card {
  display: flex;

  align-items: center;
}

.title_card span {
  font-size: 1.125rem !important;
  font-weight: 600 !important;

  display: block;

  margin-right: 0.75rem;
}

.title_card svg {
  font-size: 1.125rem;
}

.title_card path {
  transition: all 0.2s ease-in-out;
}

.title_card:hover path {
  color: #ffffff99;
}

.card_header {
  padding: 1.375rem 1.5rem 1.125rem;
}

.card_body {
  padding: 1.875rem 1.5rem;
}

.card_footer {
  padding: 1rem 1.5rem;
}

.card_footer_container {
  display: flex;

  align-items: center;
  justify-content: end;
}

.btn_reset {
  margin-right: 1.5rem;

  background-color: transparent;
}

.btn_reset:hover {
  background-color: #ffffff1a;
}

.btn_submit {
  color: var(--white);
  background-color: var(--iris);
}

.btn_submit:hover {
  background-color: #4744c0;
}

#formAddBook .card_body {
  display: grid;

  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1.5rem 2rem;
}

.field_content {
  display: flex;
  flex-direction: column;

  width: 100%;
}

#fieldJudul {
  grid-column: span 6 / span 6;
}

#fieldPenulis {
  grid-column: span 3 / span 3;
}

#fieldTahun {
  grid-column: span 2 / span 2;
}

#fieldStatus {
  grid-column: span 1 / span 1;
}

.label_field {
  font-size: 0.875rem;
  font-weight: 500;

  margin-bottom: 0.75rem;

  color: #ffffffb3;
}

.input_field {
  width: 100%;
  padding: 0.625rem 1rem;

  border: 0.125rem solid transparent;
  border-radius: 0.4rem;
  outline: none;
  background-color: var(--chinese-black);
}

.input_field:focus {
  border: 0.125rem solid var(--iris);
}

/* ready book section */
.card_body_container {
  display: grid;

  width: 100%;

  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}

.card_book {
  position: relative;

  width: 100%;
  height: 100%;
  padding: 1.75rem 1.5rem 1.5rem;

  border-radius: 0.75rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.card_book_body {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  justify-content: space-between;
}

.card_book_body_content {
  display: flex;
  flex-direction: column;

  width: 100%;
}

#readyBook .card_book_body .card_book_body_content {
  margin-bottom: 0.875rem;
}

#finishedBook .card_book_body .card_book_body_content {
  margin-bottom: 1rem;
}

.title_book {
  font-size: 1.5rem;
  font-weight: 800;

  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
}

.author_book,
.year_book {
  color: rgba(255, 255, 255, 0.7);
}

.button_book {
  display: flex;

  justify-content: end;
}

.setting_book {
  position: absolute;
  z-index: 100;
  top: 1.1rem;
  right: 1.25rem;
}

.setting_book svg {
  font-size: 1.25rem;
}

.status_book p svg {
  margin-right: 0.5rem;
}

.status_book p span,
.status_book p path {
  color: var(--success);
}

.dropdown_setting {
  position: absolute;
  z-index: -1;
  top: 2.9rem;
  right: -4rem;

  display: flex;
  visibility: hidden;
  flex-direction: column;

  width: 11rem;
  padding: 0.5rem 0;

  opacity: 0;
  border: 1px solid #ffffff1a;
  border-radius: 0.5rem;
  background-color: var(--chinese-black);
  box-shadow: 0 0.5rem 1.5rem 0 rgba(1, 4, 9, 0.6);

  align-items: start;
  justify-content: start;
}

.dropdown_setting.show {
  z-index: 101;

  visibility: visible;

  opacity: 1;
}

.dropdown_setting button svg {
  margin-right: 0.75rem;
}

.dropdown_setting,
.btn.btn_delete span,
.dropdown_setting,
.btn.btn_delete path {
  color: var(--danger);
}

.btn.btn_delete {
  display: flex;

  width: 100%;
  padding: 0.5rem 1rem;

  border-radius: 0;
  background-color: transparent;

  align-items: center;
}

.btn.btn_delete:hover {
  background-color: #f65e491a;
}

.btn.btn_switch {
  display: flex;

  width: 100%;
  padding: 0.5rem 1rem;

  border-radius: 0;
  background-color: transparent;

  align-items: center;
}

.btn.btn_switch:hover {
  background-color: #6662fd3d;
}

/* ===== footer ===== */
footer {
  width: 100%;

  background-color: #4744c0;
}

.container_footer {
  margin: 0 auto;
  padding: 1rem 4.5rem;
}

.container_footer p {
  font-size: 0.875rem;

  text-align: center;
}
