/* ===== import google font ===== */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800&display=swap");

/* ===== variable ===== */
:root {
  /* font and typography */
  --font-epilogue: "Epilogue", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* color */
  --black: #000000;
  --white: #ffffff;
  --light-blue: #6662fd;
  --smoky-black: #0e0e10;
  --chinese-black: #141318;
}

/* ===== global ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-epilogue);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--light-blue);
}
