/*Responsiveness styles*/
@media screen and (max-width: 990px) {
  /* ===== navigation ===== */
  .nav_menu_item:nth-child(2),
  .nav_menu_item:nth-child(3),
  .nav_menu_item:nth-child(4) {
    display: none;
  }

  .field_search {
    margin-right: 0;
  }

  .btn_dropdown_menu {
    display: block;
  }

  /* ===== main ===== */
  /* form add book section */
  #fieldJudul,
  #fieldPenulis,
  #fieldTahun,
  #fieldStatus {
    grid-column: span 3 / span 3;
  }

  /* ready and finished section */
  .card_body_container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.625rem;
  }
}

@media screen and (max-width: 767px) {
  /* ===== navigation ===== */
  .nav_menu_item:nth-child(1) {
    display: none;
  }

  .nav_dropdown_content hr,
  .nav_dropdown_content .nav_dropdown_search {
    display: block;
  }

  /* ===== main ===== */
  /* ready and finished section */
  .card_body_container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (max-width: 575px) {
  /* ===== navigation ===== */
  .container_nav {
    padding: 0.75rem 1rem;
  }

  .nav_profile_name {
    display: none;
  }

  .btn_dropdown_menu svg {
    padding: 0 0.875rem;
  }

  /* ===== header ===== */
  .container_header {
    padding: 0 1rem;
  }

  .header_nav {
    overflow-x: auto;
  }

  .header_nav_item {
    padding: 0 0.875rem;
  }

  .nav_dropdown_content {
    width: 70%;
  }

  /* ===== main ===== */
  /* form add book section */
  #fieldJudul,
  #fieldPenulis,
  #fieldTahun,
  #fieldStatus {
    grid-column: span 6 / span 6;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 1.125rem;
  }

  /* ready and finished section */
  .dropdown_setting {
    right: 1rem;
  }

  .card_body_container {
    gap: 1.375rem;
  }
}

@media screen and (max-width: 375px) {
  /* ===== navigation ===== */
  .btn_dropdown_menu svg {
    padding: 0 0.375rem;
  }

  .nav_dropdown_content {
    width: 80%;
  }
}
